html {
  box-sizing: border-box;
}

:after, ::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
  font-family: lato, sans-serif;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  word-break: break-word;
  display: block;
}

